<nav class="w-full p-2 shadow-md fixed top-0 bg-white z-30">
    <div
        class="mx-auto flex w-4/5 items-center transition-all duration-200 sm:w-[70%] md:w-[60%]"
    >
        <a
            href="/"
            class="h-auto w-16 transition-all duration-200 sm:w-24"
        >
            <img
                src="/images/mkd-blog-black.png"
                alt="Markdown Blog Logo Black"
            />
        </a>
    </div>
</nav>