<a
	href="#main-content"
	rel="noopener noreferrer"
	class="text-md outline-offset-4 outline-1 focus:outline absolute p-4 bg-gray-300 rounded rounded-t-none left-1/2 -translate-x-1/2 -translate-y-full focus:-translate-y-0 focus:transition-all duration-500"
>
	Skip to Main Content
</a>
