<%- include ("./partials/headerLoggedOut.ejs")  %> 

Home <br />
<button onclick="logout()">Logout</button>
<img src="<%= user.image%>" alt="<%= user.name %> ">

<%- include ("./partials/footer.ejs")  %> 

<script>
    const logout = async () => {
        await axios.post("/logout");
        window.location.replace("/")
    }
</script>