<%- include ("./partials/headerLoggedOut.ejs") %>
<div class="serverError">
	<h1 class="serverError__title"><%= error.message %></h1>
	<h2 class="serverError__subtitle">
		<% if (error.status === 404) { %> "<b><%= error.url %></b>" does not
		exist in the server! <% } %>
	</h2>
	<div class="serverError__cta">
		<img
		src="/assets/images/404.gif"
		class="serverError__image"
		alt="There was an error!"
		/>
		<button class="serverError__cta-btn" onclick="window.location.replace('/')">Take me Home!</button>
	</div>
</div>
<%- include ("./partials/footer.ejs") %>
