<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found!</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
</head>
<body class="h-screen w-full">
    <div class="w-full h-full flex flex-col items-center justify-center text-lg">
        <h1>Oops! There was an error!</h1>
        <h2>Go back <a class="border-2 border-blue-400 bg-blue-300 text-center rounded hover:bg-blue-400 hover:border-blue-500 tranistion-all duration-500" rel="noreferrer noopener" href="/">Home</a></h2>
        <img class="w-1/4 h-auto" src="/images/assets/404.gif" />
    </div>
    
</body>
</html>